@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Viga", sans-serif;
}

body{
    height: 100vh;
    background: #E9DCD1;
}

header li{
    list-style: none;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

header .logo{
    user-select: none;
}

header{
    background: #39424A;
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    max-width: 1200px;
    height: 3.75em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.navbar .links{
    position: relative;
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn{
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

/* Dropdown Menu */

.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 3.75em;
    width: 300px;
    height: 0;
    background:rgba(180, 180, 180, .2) ;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu li{
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .dm-login-btn{
    width: 50%;
    display: flex;
    justify-content: center;
}

.dropdown-menu.open{
    height: 16em;
}

/* buttons */

.login-btn{
    background: #39424A;
    color: white;
    outline: none;
    font-weight: bold;
    padding: 0.5rem 1.25rem;
    border-radius: 2em;
    cursor: pointer;
    transition: .5s;
}

.login-btn:hover{
    background-color: var(--clr);
    letter-spacing: .05em;
    box-shadow: 0 0 1em var(--clr);
}


.dm-login-btn{
    background: #39424A;
    color: white;
    outline: none;
    font-weight: bold;
    padding: 0.5rem 1.25rem;
    border-radius: 2em;
    cursor: pointer;
    transition: .5s;
}

.dropdown-menu .dm-login-btn:hover{
    background-color: var(--clr);
    letter-spacing: .05em;
    box-shadow: 0 0 1em var(--clr);
}

.navbar li a:not(.dm-login-btn):after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    margin: auto;
    display: block;
    transition: .5s;
}

.navbar li a:hover:not(.dm-login-btn):after{
    width: 100%;
}

.dropdown-menu li a:not(.dm-login-btn){
    color: #39424A;
}

.dropdown-menu li a:not(.dm-login-btn):after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    margin: auto;
    display: block;
    transition: .5s;
}

.dropdown-menu li a:hover:not(.dm-login-btn):after{
    width: 100%;
}

.dropdown-menu li a:hover:not(.dm-login-btn){
    color: white;
}

/* Responsive part */

@media (min-width:577px) and (max-width: 992px){
    .navbar .links,
    .navbar .login-btn{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }

    .dropdown-menu{
        display: block;
        z-index: 99;
    }
}

@media (max-width: 576px){
    .navbar .links,
    .navbar .login-btn{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }

    .dropdown-menu{
        display: block;
        z-index: 1;
    }
    .dropdown-menu{
        left: 2rem;
        width: unset;
        z-index: 99;
    }

    /* section#login-reg-form{
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    } */
}