@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Viga", sans-serif;
}

body{
    height: 100vh;
    background-color: #E9DCD1;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

header li{
    list-style: none;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

header .logo{
    user-select: none;
}

header{
    background: #39424A;
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    max-width: 1200px;
    height: 3.75em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.navbar .links{
    position: relative;
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn{
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

/* Dropdown Menu */

.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 3.75em;
    width: 300px;
    height: 0;
    background:rgba(180, 180, 180, .2) ;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu li{
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .dm-login-btn{
    width: 50%;
    display: flex;
    justify-content: center;
}

.dropdown-menu.open{
    height: 16em;
}

/* buttons */

.login-btn{
    background: #39424A;
    color: white;
    outline: none;
    font-weight: bold;
    padding: 0.5rem 1.25rem;
    border-radius: 2em;
    cursor: pointer;
    transition: .5s;
}

.login-btn:hover{
    background-color: var(--clr);
    letter-spacing: .05em;
    box-shadow: 0 0 1em var(--clr);
}


.dm-login-btn{
    background: #39424A;
    color: white;
    outline: none;
    font-weight: bold;
    padding: 0.5rem 1.25rem;
    border-radius: 2em;
    cursor: pointer;
    transition: .5s;
}

.dropdown-menu .dm-login-btn:hover{
    background-color: var(--clr);
    letter-spacing: .05em;
    box-shadow: 0 0 1em var(--clr);
}

.navbar li a:not(.dm-login-btn):after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    margin: auto;
    display: block;
    transition: .5s;
}

.navbar li a:hover:not(.dm-login-btn):after{
    width: 100%;
}

.dropdown-menu li a:not(.dm-login-btn){
    color: #39424A;
}

.dropdown-menu li a:not(.dm-login-btn):after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    margin: auto;
    display: block;
    transition: .5s;
}

.dropdown-menu li a:hover:not(.dm-login-btn):after{
    width: 100%;
}

.dropdown-menu li a:hover:not(.dm-login-btn){
    color: white;
}

/* Responsive part */

@media (min-width:577px) and (max-width: 992px){
    .navbar .links,
    .navbar .login-btn{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }

    .dropdown-menu{
        display: block;
        z-index: 99;
    }
}

@media (max-width: 576px){
    .navbar .links,
    .navbar .login-btn{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }

    .dropdown-menu{
        display: block;
        z-index: 1;
    }
    .dropdown-menu{
        left: 2rem;
        width: unset;
        z-index: 99;
    }

    /* section#login-reg-form{
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    } */
}

/* Work CSS */

.new-post{
    position: absolute;
    top: calc(20%);
    right: calc(12.5%);
    width: 8.5%;
    height: 8.5%;
    border: 2px solid black;
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(192, 192, 192, 0.4) 0%, rgba(192, 192, 192, 0.4) 100%);
    border-radius: 10px;
    overflow: hidden;
}

.problem-list {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-top: 30vh;
    margin-bottom: 0;
    overflow-x: hidden;
    width: 100%;
}

.box {
    left: 5%;
    position: relative;
    border: 1px solid gray;
    margin-bottom: 10px;
    height: 15vh;
    width: 90vw;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    cursor: pointer;
    background-color: #39424A;
    border-radius: 1em;
    padding: 1%;
}

.box-link {
    text-decoration: none;
    color: #D5CDC6;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

.description {
    flex: 3;
    padding-right: 10%;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.problem-image {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    max-height: 80%;
}

.container{
    position: absolute;
    background: #00ff0d;
    width: 50%;
    left: 30%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    visibility: hidden;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.popup{
    width: 60%;
    height: 60%;
    border-radius: 6px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.close-button{
    position: absolute;
    z-index: 11;
    top: 0;
    right: 0;
    margin: 10px;
}

.open-popup{
    visibility: visible;
}

.close-popup{
    visibility: hidden;
}

.popup-title{
    display: flex;
    margin-bottom: 20px;
}

.label{
    margin-bottom: 10px;
}

input[type="text"],
textarea {
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  resize: none;
  background-color: #E9DCD1;
  vertical-align: top;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

button[type="button"] {
    padding: 10px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.import-button {
    background-color: #bef103;
    color: #000000;
}

.create-button {
    background-color: #00ff0d;
    color: #000000;
    margin-right: 3.5%;
    border-radius: 4px;
    border: none;
    width: 12%;
    cursor: pointer;
}

.create-button:hover {
    color: #03ac13;
}

.close-button {
    position: absolute;
    z-index: 11;
    top: 10px;
    right: 10px;
    background-color: #b9b9b9;
}

.popup form select {
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    resize: none;
    background-color: #E9DCD1;
}

.validate-solution{
    position: absolute;
    top: calc(20%);
    right: calc(12.5%);
    width: 8.5%;
    height: 8.5%;
    border: 2px solid black;
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(192, 192, 192, 0.4) 0%, rgba(192, 192, 192, 0.4) 100%);
    border-radius: 10px;
    overflow: hidden;
}

.solution {
    position: relative;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.solution-popup {
    overflow: auto;
}